<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Chessboard</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/chessboard-0.3.0.min.css">
        <link rel="stylesheet" href="../css/font-awesome.min.css">
    </head>

    <body>
        <div class="wrap">
            <div id="header">
                <span id="status">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                    Connected to Raspberry
                </span>
            </div>

            <div id="content">
                <div id="chessboard" style="width: 380px"></div>
                <div id="logs">
                  <div class="user-info">
                    <span class="name">Computer</span>
                    <span class="time"></span>
                  </div>
                <table>
                    <tr>
                        <th>Human</th>
                        <th>Computer</th>
                    </tr>
                    <tr>
                      <td>A1</td>
                      <td>B1</td>
                    </tr>
                    <tr>
                      <td>A2</td>
                      <td>B2</td>
                    </tr>
                    <tr>
                      <td>A3</td>
                      <td>B3</td>
                    </tr>
                </table>
                <div class="user-info">
                    <span class="name">Human</span>
                    <span class="time"></span>
                </div>
              </div>
            </div>

            <div id="footer">
                <div id="name" class="box">
                    <span>Chessboard</span>
                </div>
                <div id="info" class="box">
                    <span>I.I.S. A. Volta Sassuolo</span>
                </div>
                <div id="love" class="box">
                    <span>
                        <i class="fa fa-code" id="code" aria-hidden="true"></i>
                        &nbsp;with&nbsp;
                        <i class="fa fa-heart" id="heart" aria-hidden="true"></i>
                        &nbsp;by LucaLumetti
                    </span>
                </div>
            </div>
        </div>
        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script src="../js/jquery-1.10.1.min.js" charset="utf-8"></script>
        <script src="../js/chessboard-0.3.0.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <script src="../js/chessboard.js" charset="utf-8"></script>
        <script>if (window.module) module = window.module;</script>
    </body>

</html>
